@use "../../mixins.scss" as g;

.login-form-wrapper {
  @include g.flex-col-centered;
  gap: 0.8rem;
  padding: 6rem;
  background-color: rgba(60, 60, 60, 0.705);
  border-radius: var(--global-border-radius);

  header {
    text-align: center;
  }

  button {
    height: var(--input-height);
  }

  input,
  button {
    width: 18.7rem;
  }

  @media screen and (max-width: 576px) {
    width: 90%;
    padding: 10%;

    input,
    button {
      width: 100% !important;
    }
  }
}

.inputs-wrapper {
  @include g.flex-col-centered;
  gap: 0.6rem;

  label {
    width: 100%;
  }
}
